<ion-header>
  <ion-toolbar>
    <ion-title>Create Announcement</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 align="center"><strong>Create New Announcement</strong></h3>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input label="Enter Title" label-placement="floating"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea label="Enter Description" label-placement="floating"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Upload Poster</ion-label>
    <ion-input label="Photo URL (optional)" label-placement="floating"></ion-input>
  </ion-item>
  <ion-button expand="block">Add Announcement</ion-button>
</ion-content>


