<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title [routerLink]="['/main']"><img src="assets/logo2.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <h2 align="center" color="black"><strong>My Cart</strong></h2>

    <ion-item *ngIf="checkPcs(quantityService.itemQuantities[0])">
      <ion-label>
        <h3>Small<br> Shoulder<br>Bag</h3>
      </ion-label>
      <ion-button color="danger">{{ quantityService.itemQuantities[0] }} pcs</ion-button>
      <ion-button color="danger">RM {{ quantityService.itemQuantities[0] * 50 }}</ion-button>
    </ion-item>

    <ion-item *ngIf="checkPcs(quantityService.itemQuantities[1])">
      <ion-label>
        <h3>Chunky<br> Trainers</h3>
      </ion-label>
      <ion-button color="danger">{{ quantityService.itemQuantities[1] }} Pcs</ion-button>
      <ion-button color="danger">RM {{ quantityService.itemQuantities[1] * 85 }}</ion-button>
    </ion-item>

    <ion-item  *ngIf="checkPcs(quantityService.itemQuantities[2])">
      <ion-label>
        <h3>Tie Dye <br>TShirt</h3>
      </ion-label>
      <ion-button color="danger">{{ quantityService.itemQuantities[2] }} pcs</ion-button>
      <ion-button color="danger">RM {{ quantityService.itemQuantities[2] * 54 }}</ion-button>
    </ion-item>

    <ion-item *ngIf="checkPcs(quantityService.itemQuantities[3])">
      <ion-label>
        <h3>Swim <br>Shorts</h3>
      </ion-label>
      <ion-button color="danger">{{ quantityService.itemQuantities[3] }} pcs</ion-button>
      <ion-button color="danger">RM {{ quantityService.itemQuantities[3] * 54 }}</ion-button>
    </ion-item>

    <ion-item *ngIf="checkPcs(quantityService.itemQuantities[4])">
      <ion-label>
        <h3>Flared Tailored<br> Trousers</h3>
      </ion-label>
      <ion-button color="danger">{{ quantityService.itemQuantities[4] }} pcs</ion-button>
      <ion-button color="danger">RM {{ quantityService.itemQuantities[4] * 157 }}</ion-button>
    </ion-item>

    <ion-item *ngIf="checkPcs(quantityService.itemQuantities[5])">
      <ion-label>
        <h3>Knot-Detailed <br>Satin Dress</h3>
      </ion-label>
      <ion-button color="danger">{{ quantityService.itemQuantities[5] }} pcs</ion-button>
      <ion-button color="danger">RM {{ quantityService.itemQuantities[5] * 329 }}</ion-button>
    </ion-item>

                <ion-item *ngIf="checkPcs(quantityService.itemQuantities[6])">
                  <ion-label>
                    <h3>Viscose-blend<br> Kaftan Dress</h3>
                  </ion-label>
                  <ion-button color="danger">{{ quantityService.itemQuantities[6] }} pcs</ion-button>
                  <ion-button color="danger">RM {{ quantityService.itemQuantities[6] * 157 }}</ion-button>
                </ion-item>

                  <ion-item *ngIf="checkPcs(quantityService.itemQuantities[7])">
                    <ion-label>
                      <h3>Patterned <br>Trousers</h3>
                    </ion-label>
                    <ion-button color="danger">{{ quantityService.itemQuantities[7] }} pcs</ion-button>
                    <ion-button color="danger">RM {{ quantityService.itemQuantities[7] * 129 }}</ion-button>
                  </ion-item>
                  
                  <ion-item *ngIf="checkPcs(quantityService.itemQuantities[8])">
                    <ion-label>
                      <h3>Tulle-skirt <br>Dress</h3>
                    </ion-label>
                    <ion-button color="danger">{{ quantityService.itemQuantities[8] }} pcs</ion-button>
                    <ion-button color="danger">RM {{ quantityService.itemQuantities[8] * 39 }}</ion-button>
                  </ion-item>
                  
                  <ion-item *ngIf="checkPcs(quantityService.itemQuantities[9])">
                    <ion-label>
                      <h3>Printed Hoodies</h3>
                    </ion-label>
                    <ion-button color="danger">{{ quantityService.itemQuantities[9] }} pcs</ion-button>
                    <ion-button color="danger">RM {{ quantityService.itemQuantities[9] * 119 }}</ion-button>
                  </ion-item>
                  
                  <ion-item *ngIf="checkPcs(quantityService.itemQuantities[10])">
                    <ion-label>
                      <h3>Tulle-sleeved<br> Jersey Top</h3>
                    </ion-label>
                    <ion-button color="danger">{{ quantityService.itemQuantities[10] }} pcs</ion-button>
                    <ion-button color="danger">RM {{ quantityService.itemQuantities[10] * 39 }}</ion-button>
                  </ion-item>
      
                                    <ion-item *ngIf="checkPcs(quantityService.itemQuantities[11])">
                    <ion-label>
                      <h3>Printed Track<br> Jacket</h3>
                    </ion-label>
                    <ion-button color="danger">{{ quantityService.itemQuantities[11] }} pcs</ion-button>
                    <ion-button color="danger">RM {{ quantityService.itemQuantities[11] * 74 }}</ion-button>
                  </ion-item>

                  <ion-item *ngIf="checkPcs(quantityService.itemQuantities[12])">
                    <ion-label>
                      <h3>DryMove <br>Sports top</h3>
                    </ion-label>
                    <ion-button color="danger">{{ quantityService.itemQuantities[12] }} pcs</ion-button>
                    <ion-button color="danger">RM {{ quantityService.itemQuantities[12] * 54 }}</ion-button>
                  </ion-item>

                    <ion-item *ngIf="checkPcs(quantityService.itemQuantities[13])">
                      <ion-label>
                        <h3>DryMove<br> Boxy-Style</h3>
                      </ion-label>
                      <ion-button color="danger">{{ quantityService.itemQuantities[13] }} pcs</ion-button>
                      <ion-button color="danger">RM {{ quantityService.itemQuantities[13] * 44 }}</ion-button>
                    </ion-item>

                      <ion-item *ngIf="checkPcs(quantityService.itemQuantities[14])">
                        <ion-label>
                          <h3>DryMove<br> Seamless</h3>
                        </ion-label>
                        <ion-button color="danger">{{ quantityService.itemQuantities[14] }} pcs</ion-button>
                        <ion-button color="danger">RM {{ quantityService.itemQuantities[14] * 74 }}</ion-button>
                      </ion-item>

                        <ion-item *ngIf="checkPcs(quantityService.itemQuantities[15])">
                          <ion-label>
                            <h3>Sports Bag</h3>
                          </ion-label>
                          <ion-button color="danger">{{ quantityService.itemQuantities[15] }} pcs</ion-button>
                          <ion-button color="danger">RM {{ quantityService.itemQuantities[15] * 124 }}</ion-button>
                        </ion-item>

                          <ion-card-header>
                            <ion-card-title><strong>Total: RM {{(quantityService.itemQuantities[0] * 50) + (quantityService.itemQuantities[1] * 85)
                              + (quantityService.itemQuantities[2] * 54) + (quantityService.itemQuantities[3] * 54) +
                              (quantityService.itemQuantities[4] * 157) + (quantityService.itemQuantities[5] * 329)+ (quantityService.itemQuantities[6] * 157)
                              + (quantityService.itemQuantities[7] * 129)+ (quantityService.itemQuantities[8] * 39)+ (quantityService.itemQuantities[9] * 119)
                              + (quantityService.itemQuantities[10] * 39)+ (quantityService.itemQuantities[11] * 74)+ (quantityService.itemQuantities[12] * 54)
                              + (quantityService.itemQuantities[13] * 44)+ (quantityService.itemQuantities[14] * 74)+ (quantityService.itemQuantities[15] * 124)}}</strong></ion-card-title>
                          </ion-card-header></ion-card>

                          <p align="center">
                          <ion-button color="danger" align="center" [routerLink]="['/notif']">Checkout</ion-button></p>

</ion-content>

<ion-footer color="danger">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/main']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
