<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 align="center"><strong>Create New Media</strong></h3>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input label="Title" label-placement="floating"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea label="Description" label-placement="floating"></ion-textarea>
  </ion-item>
  <ion-button expand="block">Upload Media</ion-button>
</ion-content>
