<ion-header>
  <ion-toolbar>
    <ion-title>Attendance</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 align="center"><strong>Attendance</strong></h3>
  <ion-list>
    <ion-card-header>
      <ion-card-title> Event Title</ion-card-title>
      <ion-card-subtitle> Event Date</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-margin-top">
          <ion-button size="small" color="success">Present</ion-button>
          <ion-button size="small" color="danger">Absent</ion-button>
        </div>
      </ion-card-content>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/attendance-create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button [routerLink]="['/main']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/attendance']">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/media']">
        <ion-icon slot="icon-only" name="images-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/feedback']">
        <ion-icon slot="icon-only" name="chatbox-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
