<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title [routerLink]="['/main']"><img src="assets/logo2.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2 align="center"><strong>User Profile</strong></h2>      
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Name: {{userProfile?.name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Email: {{userProfile?.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Password: {{userProfile?.password}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Date of Birth: {{userProfile?.date}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Telephone Number: {{userProfile?.telephone}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Address: {{userProfile?.address}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/main']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/profile']">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/cart']">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

