<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>


    <img src="assets/logo.png"/>

<ion-button class="ion-padding" expand="full" shape="round" color="danger" [routerLink]="['/register']">Register</ion-button>

<ion-button class="ion-padding" expand="full" shape="round" color="danger" [routerLink]="['/login']">Login</ion-button>

</ion-content>
